MONGODB_URI=mongodb+srv://MongoDB connection URI here. It should include the username and password, and database name.
DISCORD_CLIENT_SECRET=Discord client secret here, gotten from the OAuth2 page on your app on the Discord developer website