run = "npm run dev:host"
onBoot = "npm install"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = false
enabledForHosting = true

[unitTest]
language = "nodejs"

[languages.svelte]
pattern = "**/*.svelte"
syntax = "svelte"

[languages.svelte.languageServer]
command = ["svelteserver", "--stdio"]

[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.typescript.languageServer]
start = [ "typescript-language-server", "--stdio" ]