html {
    color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
}

.body {
    min-height: 100vh;
    padding-top: 4rem;
    padding-bottom: 10rem;
    background-color: #191b1f;
}

.darken {
    color: whitesmoke;
    border-color: #191b1f;
    background-color: #191b1f;
}

.darkener {
    color: whitesmoke;
    border-color: #070809;
    background-color: #070809;
}

.title, .subtitle {
    color: whitesmoke;
    word-break: break-word;
}

.box {
    color: whitesmoke;
    min-height: 200px;
}

.box>.content>.subtitle {
    font-weight: bolder;
    color: whitesmoke;
}

.box>p {
    color: lightgray;
}

.media-content {
    color: whitesmoke;
}

.entry-image {
    float: left;
    margin-right: 2ch;
    margin-bottom: 25%;
    max-width: 200px;
    max-height: 200px;
}

.entry-image.preview {
    margin: 0px;
    margin-right: 1ch;
    margin-bottom: 1ch;
    max-width: 64px;
    max-height: 64px;
}
