@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

button, a, input, [contenteditable], select {
  outline: shadow;
  /* Bad accessibility so reminder to add a shadow outline l8r */
}

body {
  font-family: "Inter", -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Lato", "Helvetica", "Arial", sans-serif;
  background: #1A1C1E;
  color: #FFFFFF;
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 10px;
}

input:not(#imageSelect), [contenteditable] {
  color: #FFFFFF;
  background: #1A1C1E;
  border-radius: 6px;
  border: 1px solid #212428;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #3aa6f3;
/*   display: inline-block */
}

a:not(.button):not(button):not(.entry):hover {
  text-decoration: underline;
}

.editorStatus, .bigButton {
  font-size: 1.5rem;
}

.editorStatus p {
  margin: 0;
  padding-bottom: 24px;
}

.center {
  text-align: center;
}

.button, button {
  display: inline-block;
  padding: 8px 18px;
  background: #1d51b1;
  box-shadow: 0px 4px 0px #0f2e81;
  border-radius: 6px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition-property: transform, box-shadow;
  transition-duration: 120ms;
}

select {
  display: inline-block;
  padding: 8px 18px;
  padding-right: 30px;
  -webkit-appearance: none;
  background: #3d3d3d url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='utf-8'?%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='62.5' width='116.9' fill='%23efefef'%3E %3Cpath d='M115.3,1.6 C113.7,0 111.1,0 109.5,1.6 L58.5,52.7 L7.4,1.6 C5.8,0 3.2,0 1.6,1.6 C0,3.2 0,5.8 1.6,7.4 L55.5,61.3 C56.3,62.1 57.3,62.5 58.4,62.5 C59.4,62.5 60.5,62.1 61.3,61.3 L115.2,7.4 C116.9,5.8 116.9,3.2 115.3,1.6Z'/%3E %3C/svg%3E") calc(100% - 18px) 50% / 12px no-repeat;
  box-shadow: 0px 4px 0px #252525;
  border-radius: 6px;
  color: #FFFFFF;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

select::-ms-expand {
  display: none;
}

.button:active, button:active, .ql-active {
  box-shadow: none;
  transform: translateY(4px);
}

.bigButton {
  padding: 16px 24px;
}

.title {
	font-size: 2.625rem;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.contributors {
  margin: 0;
  margin-bottom: 24px;
}

.contributors .contributor {
  margin-right: .4em
}

#content-editable {
	min-height: 10em;
}

#entry-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 1em 0;
}

.entry {
	border: 1px solid #212428;
  border-radius: 6px;
	height: 12em;
	display: block;
	color: inherit;
	overflow: hidden;
  padding: 10px;
  text-decoration: none;
  line-height: 150%;
	transition: 120ms background-color;
}

.entry:hover {
  background-color: #36393d;
}

entry:active {
  background-color: #144297;
}
.entryTitle {
	font-size: 1.25em;
  font-weight: normal;
	margin: 0;
  padding-bottom: 10px;
}

.entryPreview {
	margin: 0;
	color: #ddd;
}
#popup {
  position: absolute;
  left: 50%;
  bottom: calc(50% - 3em);
}
#popupInner {
  position: relative;
  left: -50%;
  bottom: -50%;
  background-color: rgba(0,0,0,.9);
  padding: 1em;
}
.backArrow {
  stroke: rgba(255,255,255,.5);
  left: 1em;
  top: 1em;
  position: absolute;
  transition-duration: 300ms
}
.backArrow:hover {
  stroke: rgba(255,255,255,.7);
}
.revision {
  border: 1px solid #212428
}
.rawContent {
  white-space: break-spaces
}
#editor {
  margin-bottom: 1em
}
.entryPreview {
  text-align: left
}
.previewImage {
  float: left;
  margin-right: 1em;
  max-width: 50%;
}
.previewImage img {
  max-height: 6em;
  border-image: 5px;
}
.entryImage {
  max-width: 15em;
  max-height: 10em;
  float: right;
  margin-left: 1em
}
.content p {
  margin: 0
}
.content {
  margin-bottom: 1em
}
.imageSelectContainer {
  color: #FFFFFF;
  background: #1A1C1E;
  border-radius: 6px;
  border: 1px solid #212428;
  padding: 10px;
}

#imageSelect {
  display: none;
}

#imageLabel {
  font-family: sans-serif;
  display: inline-block;
  padding: 8px 18px;
  background: #1d51b1;
  box-shadow: 0px 4px 0px #0f2e81;
  border-radius: 6px;
  color: #FFFFFF;
  text-decoration: none;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  font-size: inherit;
  transition-property: transform, box-shadow;
  transition-duration: 120ms;
}

#imageLabel:active {
  box-shadow: none;
  transform: translateY(4px);
}

#editor img[src$=".svg"] {
  height: 1em;
}
article img[src$=".svg"] {
  height: 1em;
}
blockquote {
  margin: 0 0 0 .5em;
  padding-left: 0.5em;
  border-left: 2px solid rgba(255,255,255,0.2)
}

#search-bar {
  margin-top: 2em
}

.loading {
  width: 100%;
/*   display: block; */
  position: absolute;
  overflow: hidden;
  height: 5em;
  left: 0;
  padding-top: 5em;
}
.loading-container {
  width: 0;
  height: 0;
  animation: spin 1s infinite cubic-bezier(.32,.8,.69,.2);
/*   position: relative; */
/*   display: block; */
  margin: 0 auto;

}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
.entryImage img {
  max-height: 10em;
  max-width: 20em;
  border-radius: 5px;
}
.imageContainer {
  overflow: hidden;
}
.entryImage {
  height: 100%;
  max-width: min-content
}

.popupContainer {
  position: relative;
	height: 0;
	width: 0;
	margin-top: -.2em;
	pointer-events: none;
  margin: 0;
  padding: 0;
  word-spacing: 0;
  position: absolute;
}
.popupInner {
  background-color: rgba(255,255,255,0.9);
  padding: .5em;
	margin-left: -.2em;
/* 	margin-top: -2.6em; */
  bottom: 0;
  width: max-content;
  height: unset;
  display: inline-block;
  position: absolute;
  color: #111;
/*   margin: 0 auto; */
  border-radius: .1em;
  box-shadow: 0 0 1px;
	max-width: 15em;
}
.popupInner * {
  margin: 0
}

.popupFavicon {
	height: 1em;
	width: 1em;
	float: left;
	margin-right: .2em
}
.popupTitle {
	display: inline-block;
	font-weight: bold
}

.popupContent {
  overflow: hidden;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 5;
}

/* keep these at the bottom because they ruin replit syntax highlighting */

a[href*="//discord.gg"], a[href*="//repl.it/discord"], a[href*="//twitter.com"], a[href*="//discordapp.com"] {
/* 	left: -1.25em; */
	position: relative
}
a[href*="//repl.it/discord"]::before, a[href*="//discord.gg"]::before, a[href*="//twitter.com"]::before, a[href*="//discordapp.com"]::before {
	content: ' ';
	background-size: contain;
	width: 1.25em;
	height: 1.25em;
	position:  relative;
	display: inline-block;
	top: 0.25em;
	margin-top: -.5em;
}

a[href*="//discord.gg"]::before, a[href*="//repl.it/discord"]::before, a[href*="//discordapp.com"]::before {
	background-image: url(/static/discord-logo-white.png);
}

a[href*="//twitter.com"]::before {
	background-image: url(/static/twitter-logo-blue.png);
}

.featuredEntry {
  border: 1px solid #212428;
  border-radius: 6px;
  padding: 0px 10px 10px 10px;
}

.featuredEntry:hover {
  cursor: pointer;
}
