<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
<title>{% block title %}Repldex{% endblock %}</title>

<link rel="icon" type="image/png" href="/static/icon.png">

<link rel="preconnect" href="https://i.matdoes.dev">
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preload" href="/static/main.css" as="style">
<link rel="preload" href="/static/lazy-images.js" as="script">

<meta name="robots" content="index, follow">
<meta name="theme-color" content="#ff0000">
<meta name="description" content="{% block description %}insert description here{% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:title" content="{{ self.title() }}">
<meta property="og:description" content="{{ self.description() }}">
<meta property="og:site_name" content="Repldex">
<meta property="og:type" content="website">

<noscript>
<style>.lazy {display: none}</style>
</noscript>

<link rel="stylesheet" href="/static/main.css">
<script src="/static/lazy-images.js" defer></script>
{% endblock %}
</head>

<body>
{% if back_location %}
<nav>
	<a href="{{ back_location }}">
		<svg class="backArrow" height="43" width="23">
			<path d="M 22 0 l -20 20 l 20 20" stroke-width="3" fill="none"></path>
		</svg>
	</a>
</nav>
{% endif %}
<main>
{% block body %}
	There's nothing here yet.
{% endblock %}
</main>

</html>