{% extends "base.html" %}

{% block body %}
	{% if not is_editor %}
		<p>You don't have permission to edit this entry</p>
	{% elif new_disabled and not is_admin %}
		<p>Creating new entries is currently disabled :(</p>
	{% else %}
		<noscript>
			enable javascript or it wont work you dumbo
			<style>form{display:none}</style>
		</noscript>
		<link href="/static/quill.css" rel="stylesheet">
		<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
		<script src="/static/markdownshortcuts.js"></script>
		<script>
		document.addEventListener('DOMContentLoaded', () => {
		var editor = new Quill('#editor', {
			theme: 'snow',
			modules: {
				markdownShortcuts: {},
			}
		});
				
		var quillEditorEl = editor.root
		var contentHiddenEl = document.getElementById('content-hidden')
		var formEl = document.getElementById('form')
		formEl.addEventListener('submit', () => {
			contentHiddenEl.value = quillEditorEl.innerHTML;
			console.log(quillEditorEl.innerHTML)
			return false
		})
				window.quillEditor = editor // only exists so i can do xss lol
		})
		</script>

		<form method="post" id="form" enctype="multipart/form-data">
			<input class="title" name="title" value="{{ title or '' }}" placeholder="Title"></input>
			<div class="imageSelectContainer">
		<label id="imageLabel" for="imageSelect">
			<div id="uploadImageText">Upload Image</div>
		</label>
		<input type="file" name="image" accept="image/*" id="imageSelect" alt="Select an image to upload">
			</div>

			<div id="editor">{{ content|safe or '' }}</div>

			<input id="content-hidden" name="content" hidden></input>
			{% if is_admin %}
				<div>
					Unlisted: <input type="checkbox" name="unlisted"{% if unlisted %} checked{% endif %}><br>
					Impersonate (use discord id of who you want to impersonate, nothing means no impersonation): <input name="impersonate">
				</div>
			{% endif %}
		<br>
			<button>Submit</button>
		</form>
		{% if is_admin %}
			<button onclick="deleteOnclick()">Delete Entry: {{ title }}</button>
			<script>
				async function deleteOnclick() {
					if (confirm("Are you sure you want to delete this entry?")) {
						await fetch('/delete?id={{ entry_id }}', {method:'POST'});
						location.href = "/";
					}
				}
			</script>
		{% endif %}
	{% endif %}
{% endblock %}
