{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ content|before_show_text|nohtml }}{% endblock %}

{% block head %}
	{{ super() }}
	{% if image %}
		<meta property="og:image" content="{{ image }}">
	{% endif %}

<script>
document.addEventListener('DOMContentLoaded', () => {
	for (const anchor of document.querySelectorAll('article.content a')) {
		let popup
		anchor.addEventListener('mouseover', async () => {
			if (!popup) {
				const resp = await fetch(`/api/website-title?url=${anchor.href}`).then(r => r.json()).catch((err) => err)
				if (!resp.title) resp.title = 'Failed to fetch entry'
				popup = document.createElement('div')
				const popupTitleEl = document.createElement('p')
				popup.classList.add('popupContainer')
				popupTitleEl.classList.add('popupTitle')
				popup.appendChild(popupTitleEl)
				popupTitleEl.innerText = resp.title
				if (resp.favicon) {
					const popupFaviconEl = document.createElement('img')
					popupFaviconEl.classList.add('popupFavicon')
					popup.appendChild(popupFaviconEl)
					popupFaviconEl.src = resp.favicon
				}
				if (resp.content) {
					const popupContentEl = document.createElement('p')
					popupContentEl.classList.add('popupContent')
					popup.appendChild(popupContentEl)
					popupContentEl.innerText = resp.content.substr(0, 200)
				}
				anchor.parentElement.insertBefore(popup, anchor)
			}
			popup.classList.remove('visible')
			popup.classList.remove('hidden')
			setTimeout(() => popup.classList.add('visible'), 250)
		})
		anchor.addEventListener('mouseout', () => {
			if (popup) popup.classList.add('hidden')
		})
	}
})
</script>
{% endblock %}

{% block body %}
  {% set top_editors = get_top_editors(history) %}

  <p class="contributors">
    Top entry contributors:
    {% for editor_id in top_editors %}
		{%- if editor_id|personalentry -%}
			<a class="contributor" href="/entry/{{ editor_id|personalentry }}">
				{{- editor_id|discordid or '<unknown>' -}}
			</a>
		{%- else -%}
			<span class="contributor">
				{{- editor_id|discordid or '<unknown>' -}}
			</span>
		{%- endif -%}
    {% endfor %}
  </p>

	<h1 class="title">{{ title }}</h1>
	{% if image %}
		{{
			lazyimage(
				image,
				is_preview=False,
				alt=title
			)|safe
		}}
	{% endif %}
	{% if unlisted %}<i>This entry is unlisted and will not show up in search.</i>{% endif %}
	<article class="content">
		  {{ content|before_show_text|safe }}
	</article>

	<br><br>
	{% if is_editor %}
		<a href="/edit?id={{ id }}" class="button">Edit entry</a>
		<a href="/history/{{ id }}" class="button">View history</a>
	{% endif %}
	{{thing|safe}}
	<comment message="id is: {{ id }}"></comment>
{% endblock %}
