{% extends "base.html" %}

{% block body %}
	<center>
		<h1>Featured Articles</h1>
		<p>Featured articles represent the best of Repldex.</p>
		{% for article in featured_articles %}
      <article class="featuredEntry" onclick='{{ "window.location.href = \'/entry/\'" + "+\'"+article.title+"\'" }}'>
			  <h2>{{ article.title }}</h2>
			  {% if article.image %}
			  	{{
			  		lazyimage(
			  			article.image,
			  			is_preview=True,
			  			alt=article.title
			  		)|safe
			  	}}
			  {% endif %}
			  <p class="featuredEntryPreview">
			  	{{ article.nohtml_content[:175]+"..." }}
			  </p>
      </article>
		{% endfor %}
	</center>
{% endblock %}
