{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ content|before_show_text|nohtml }}{% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/static/highlight.css">
	<script src="/static/highlight.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<script>
function revertEdit(editNumber) {
	console.log('revertedit')
	fetch(`/revert?id={{ id }}`, {
		method: 'POST',
		headers: {
      'Content-Type': 'application/json'
    },
		body: JSON.stringify({
			'editNumber': editNumber
		})
	}).then(() => {
		location.href = '/entry/{{ id }}'
	})
}
	</script>
{% endblock %}

{% block body %}
	<h1>{{ title }}</h1>
	{% for revision in history %}
		{% if not loop.last %}
			{% set title_changed = revision.title != loop.nextitem.title %}
			{% set content_changed = revision.content|prettyhtml != loop.nextitem.content|prettyhtml %}
			{% set changed = title_changed or content_changed %}
		{% else %}
			{% set changed = true %}
		{% endif %}
		{% if changed %}
			<div class="revision">
				{{ revision.author|discordid }}
				{{ revision.time|timeago }}
				{% if not loop.first %}
				{% if is_editor %}
					<button href="/" class="button" onclick="revertEdit({{ loop.revindex0 }})">Revert</button>
				{% endif %}
				{% endif %}

				{% if loop.last %}
					<pre><code class="rawContent" class="html">{{ revision.content|prettyhtml }}</code></pre>
				{% else %}
					{% set current_revision = revision.content|prettyhtml %}
					{% set prev_revision = loop.nextitem.content|prettyhtml %}
					{% if title_changed %}
						<p>Title changed: {{ revision.title }}</p>
					{% endif %}
					<pre><code class="rawContent" class="html">{{ current_revision|diff(prev_revision) }}</code></pre>
				{% endif %}
				
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}

