{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
function htmlImageWithThumbnail(data, alt='') {
	url = data['src']
	thumbnailB64 = data['thumbnail_b64']
	thumbnailContentType = data['thumbnail-content-type'] || 'image/webp'
	thumbnailSrc = `data:${thumbnailContentType};base64,${thumbnailB64}`
	return `<img src="${thumbnailSrc}" data-src="${url}" class="lazy" alt="${alt}">`
}

async function getEntries(page=0, query='') {
	var entryListEl = document.getElementById('entry-list')
	var sort = query ? 'search' : 'new'
	var fetchUrl = `/api/entries/${sort}?page=${page}`
	if (query)
		fetchUrl += `&query=${query}`
	fetch(fetchUrl).then(async(r) => {
		if (window.query != query)
			return console.log('cancelled', query)
		if (page == 0)
			entryListEl.innerText = ''
		const data = await r.json()
		if (!data.length) {
			console.log('no data')
			window.done = true
		}
		for (const entry of data) {
			var entryEl = document.createElement('article')
			entryEl.classList.add('entryContainer')

			var entryAnchorEl = document.createElement('a')
			entryAnchorEl.href = '/entry/' + entry.id
			entryAnchorEl.classList.add('entry')

			entryEl.appendChild(entryAnchorEl)

			entryTitleEl = document.createElement('h2')
			entryTitleEl.classList.add('entryTitle')
			entryTitleEl.innerText = entry.title
			entryAnchorEl.appendChild(entryTitleEl)

			if (entry.image) {
				entryImgEl = document.createElement('div')
				entryImgEl.classList.add('imageContainer')
				entryImgEl.classList.add('previewImage')
				entryImgEl.innerHTML = htmlImageWithThumbnail(entry.image)
				entryAnchorEl.appendChild(entryImgEl)
			}

			entryPreviewEl = document.createElement('p')
			entryPreviewEl.classList.add('entryPreview')
			entryPreviewEl.innerText = entry.preview
			entryAnchorEl.appendChild(entryPreviewEl)

			entryListEl.appendChild(entryEl)

		}
		window.fetching = false
		checkLazyImages()
	})
}


document.addEventListener('DOMContentLoaded', () => {
	var entryListEl = document.getElementById('entry-list')
	var searchBarEl = document.getElementById('search-bar')
	var page = 0
	window.fetching = false
	window.done = false
	window.query = ''

	document.addEventListener('scroll', () => {
		// infinite scrolling
		if (
			(window.innerHeight + window.scrollY) >= entryListEl.offsetHeight - 4000 &&
			!window.fetching &&
			!window.done
		) {
			console.log('fetching scroll', window.query)
			page ++
			window.fetching = true
			getEntries(page, window.query)
		}
	})
	searchBarEl.addEventListener('input', () => {
		if (
			window.query != searchBarEl.value
		) {
			page = 0
			window.done = false
			entryListEl.innerHTML = `
<div class="loading">
	<div class="loading-container">
		<svg height="50" width="50">
			<circle cx="0" cy="0" r="50" fill="none" stroke="#fff" />
		</svg>
	</div>
</div>`
			window.query = searchBarEl.value
			window.fetching = true
			console.log('fetching input', window.query)
			getEntries(page, window.query)
		}
	})
	searchBarEl.value = ''
})
</script>
{% endblock %}

{% block body %}
<div class="center">
  <h1 class="title">Repldex</h1>
	<p class="entryCount">{{ entry_count }} total entries</p>
	<div class="editorStatus center">
    {% if is_editor %}
      <p>
        You are a verified editor.
      </p>
      {% if new_dissabled and not is_admin %}
      <p>new entries currently dissabled due to abuse</p>
      {% else %}
	
			<a href="/edit" class="button bigButton">Write a new entry</a>
		{%endif%}
		{% else %}
      <p>
				You are not a verified editor!
			</p>
			{% if discord_id %}
				You are logged in as {{ discord_id|discordid }}.
				<p>
				Go to <a href="/login">our verification page</a> if you want to log into a different account.
			</p>
			{% else %}
			<p>
				Go to <a href="/login">our verification page</a> logged into your Discord account to get started.
			</p>
			{% endif %}
    {% endif %}
  </div>
  {% if featured_article %}
    <article class="featuredEntry" onclick='{{ "window.location.href = \'/entry/\'" + "+\'"+featured_article.title+"\'" }}'>
	  <h2>{{ featured_article.title }}</h2>
	  <p class="featuredEntryPreview">
		{{ featured_article.nohtml_content[:225]+"..." }}
	  </p>
	</article>
  {% endif %}
	<input id="search-bar" aria-label="Search Entries" placeholder="Entry name here">
	<div id="entry-list">
		{% for entry in entries %}
			<article class="entryContainer">
        <a href="/entry/{{ entry._id }}" class="entry preview">
          <h2 class="entryTitle">
            {{ entry.title }}
          </h2>
					{% if entry.image %}
						{{
							lazyimage(
								entry.image,
								is_preview=True,
								alt=entry.title
							)|safe
						}}
					{% endif %}
          <p class="entryPreview">
            {{ entry.content|before_show_text|nohtml }}
          </p>
        </a>
      </article>
		{% endfor %}
	</div>

	<!-- <div class="center"><a href="https://discord.gg/wku7886">Join the Discord</a></div> -->
  <!-- <iframe src="https://discordapp.com/widget?id=662039537479843850&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe> -->
{% endblock %}