{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block description %}{{ content|before_show_text|nohtml }}{% endblock %}

{% block head %}
	{{ super() }}
	{% if image %}
		<meta property="og:image" content="{{ image }}">
	{% endif %}

	<script>
document.addEventListener('DOMContentLoaded', () => {
const articleEl = document.getElementsByTagName('article')[0]
for (const anchor of document.getElementsByTagName('a')) {
anchor.addEventListener('mouseover', () => {
	if (!articleEl.contains(anchor)) return
	const popupContainerEl = document.createElement('div')
	const popupInnerEl = document.createElement('div')

	const popupFaviconEl = document.createElement('img')
	const popupTitleEl = document.createElement('p')
	const popupContentEl = document.createElement('p')

	popupContainerEl.classList.add('popupContainer')
	popupInnerEl.classList.add('popupInner')
	popupTitleEl.classList.add('popupTitle')
	popupContentEl.classList.add('popupContent')
	popupFaviconEl.classList.add('popupFavicon')
	anchor.popupContainerEl = popupContainerEl

	popupInnerEl.appendChild(popupTitleEl)
	popupContainerEl.appendChild(popupInnerEl)

	anchor.parentElement.insertBefore(popupContainerEl, anchor)

	popupContainerEl.style.display = 'none'


	fetch(`/api/website-title?url=${anchor.href}`).then(async(r) => {
		resp = await r.json()
		popupTitleEl.innerText = resp.title

		if (resp.favicon) {
			popupInnerEl.appendChild(popupFaviconEl)
			popupFaviconEl.src = resp.favicon
		}
		if (resp.content) {
			popupInnerEl.appendChild(popupContentEl)
			popupContentEl.innerText = resp.content.substr(0, 200)
		}
		popupContainerEl.style.display = 'inline-block'


	})


})
anchor.addEventListener('mouseout', () => {
	anchor.popupContainerEl.remove()
	anchor.popupContainerEl = undefined
})
}
	
})

var idkwhyineedthis=true;

function tts(){
	var msg=new SpeechSynthesisUtterance();
	var voices=speechSynthesis.getVoices();
	var voice=document.getElementById("voice").value;
	msg.voice=voices[voice];
	msg.text="{{nohtml_content}}";
	if(idkwhyineedthis){idkwhyineedthis=false;return;}
	speechSynthesis.speak(msg);
}

	</script>
{% endblock %}

{% block body %}
  {% set top_editors = get_top_editors(history) %}

  <p class="contributors">
    Top entry contributors:
    {% for editor_id in top_editors %}
			{% if editor_id|personalentry %}
				<a class="contributor" href="/entry/{{ editor_id|personalentry }}">
					{{ editor_id|discordid }}
				</a>
			{% else %}
				<span class="contributor">
					{{ editor_id|discordid }}
				</span>
			{% endif %}
    {% endfor %}
  </p>

	<h1 class="title">{{ title }}</h1>
	{% if image %}
		{{
			lazyimage(
				image,
				is_preview=False,
				alt=title
			)|safe
		}}
	{% endif %}
	{% if unlisted %}<i>This entry is unlisted and will not show up in search.</i>{% endif %}
	<article class="content">
		{{ content|before_show_text|safe }}
	</article>

	<button onclick="tts()">Read it to me!</button>
	<select id="voice">
		<option value="5" selected>UK English Male</option>
		<option value="4">UK English Female</option>
		<option value="3">US English</option>
		<option value="2">Deutsch</option>
		<option value="6">Español</option>
		<option value="7">Español de Estados Unidos</option>
		<option value="8">Français</option>
		<option value="9">हिन्दी</option>
		<option value="10">Bahasa Indonesia</option>
		<option value="11">Italiano</option>
		<option value="12">日本語</option>
		<option value="13">한국의</option>
		<option value="14">Nederlands</option>
		<option value="15">Polski</option>
		<option value="16">Português do Brasil</option>
		<option value="17">Русский</option>
		<option value="18">普通话（中国大陆）</option>
		<option value="19">粤語（香港）</option>
		<option value="20">國語（臺灣）</option>
	</select>
<script>tts();</script>
	<br><br>
	{% if is_editor %}
		<a href="/edit?id={{ id }}" class="button">Edit entry</a>
		<br><br>
		<a href="/history/{{ id }}" class="button">View history</a>
	{% endif %}
{% endblock %}
