:root {
	/* Dark theme */
	--background-color: #1f1f1f;
	--alternate-background-color: #2f2f2f;
	--text-color: #d9d9d9;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: 'Atkinson Hyperlegible', sans-serif;
}
