:root {
	/* Dark theme */
	--background-color: #1f1f1f;
	--alternate-background-color: #2f2f2f;
	--text-color: #d9d9d9;
	--link-color: #10abe8;
	--bright-text-color: #fff;
	--font: 'Atkinson Hyperlegible', sans-serif
}

/* this file should only contain styles for html elements, not any specific classes or ids */

body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font);
	margin: 0;
}

a {
	color: var(--link-color);
}

input {
	border: none;
	border-radius: 0.5em;
	background-color: var(--alternate-background-color);
	color: var(--text-color);
	padding: 0.5em;
}
