{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="center">
  <h1 class="title">Repldex | Admin Panel (all users)</h1>
	<p class="entryCount">{{ entry_count }} total entries</p>
	<h3>Users and roles:</h3>
	<table style="width:100%">
		<tr>
			<td>discord id</td>
			<td>discord tag</td>
			<td>is editor</td>
			<td>needs new entry aproval</td>
			<td>is reporter</td>
			<td>is admin</td>
			<td> is blacklisted</td>
		</tr>
		{% for i in IDS%}
			{% if i !=0 %}
			<tr>
				<th>{{i}}</th>
				<th>{{ discord_id_to_user(i) }}</th>
				<th>{{i in EDITOR_IDS }}</th>
				<th>{{i in APPROVAL_IDS }}</th>
				<th>{{i in REPORTER_IDS }}</th>
				<th>{{i in ADMIN_IDS }}</th>
				<th>{{i in BLACKLISTED_IDS }}</th>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
	<script>
		const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

		const comparer = (idx, asc) => (a, b) => ((v1, v2) => 
		    v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
		    )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

		// do the work...
		document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
		    const table = th.closest('table');
		    Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
			.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
			.forEach(tr => table.appendChild(tr) );
		})));
	</script>
{% endblock %}
